.container
  .row
    = render "shared/left_column"
    .col-lg-9        
      .bread_crumbs
        = link_to t(@stuff.pet.name), pet_path(@pet)
        = link_to t(@stuff.group), pet_path(@pet)
        = @stuff.name
      .stuff_show_block
        .col-lg-5
          .stuff_show_picture
            = image_tag @stuff.picture, size: "300x300"
        .col-lg-7
          .stuff_show_name
            = @stuff.name
          .stuff_show_annotation  
            = @stuff.annotation
          .brand 
            Брэнд:
            = @stuff.brand.name
            = image_tag @stuff.brand.picture.brand_stuff
          .brand  
            Страна:
            = @stuff.brand.country
          .brand
            Размер:
            = "#{@stuff.size} см"     
       
          .stuff_show_description
            = @stuff.description

          - if @stuff.weights.present?                
            - @stuff.weights.each do |a|
              = form_for LineItem.new, url: carts_path  do |f|
                .wp
                  .row
                    .col-lg-3
                      .weight
                        = "#{a.size} кг"
                    .col-lg-5
                      - if @stuff.sale > 0
                        .stuff_price_discount
                          = "#{a.price} руб"  
                        .stuff_price_weight
                          = "#{(100 - @stuff.sale) * a.price / 100} руб."
                      - else 
                        .stuff_price
                          = "#{a.price} руб"      
                    .col-lg-4
                      .field
                        = f.hidden_field :stuff_id, value: @stuff.id
                        = f.hidden_field :weight_id, value: a.id
                        
                        = f.submit 'save'   
          
          - else
            = form_for LineItem.new, url: carts_path  do |f|
              .row
                .col-lg-9{style: 'padding-top: 8px;'}
                  - if @stuff.sale > 0

                    - if @stuff.color.present?
                      - @stuff.color.each_slice(4) do |slice|
                        %br
                        .row
                          - slice.each do |color|
                            = image_tag "#{color}.jpg", size: '25x25'
                            = f.label color
                            = f.radio_button :color, color
                    .stuff_price_discount
                      = "#{@stuff.price} руб."
                    .stuff_price_weight
                      
                      = "#{(100 - @stuff.sale) * @stuff.price / 100} руб."        
                 
                  -else
                    - if @stuff.color.present?
                      - @stuff.color.each_slice(4) do |slice|
                        %br
                        .row
                          - slice.each do |color|
                            = image_tag "#{color}.jpg", size: '25x25'
                            = f.label color
                            = f.radio_button :color, color
                    .stuff_price
                      = "#{@stuff.price} руб."        
                        
                .col-lg-3
                  .field
                    = f.hidden_field :stuff_id, value: @stuff.id
                    
              .actions
                = f.submit 'save' 
                      
              
      .row     
        .col-lg-12
          .brand_description
            = image_tag @stuff.brand.picture.brand, style: "float: left;"
            = @stuff.brand.description
          



 

      = link_to 'Edit', edit_pet_stuff_path(@pet, @stuff)
      \|
      = link_to 'Back', pet_stuffs_path(@pet)
