- @brands.each do |brand|
  .row
    .brand_block
      .col-lg-3  
        .brand_img
          = image_tag brand.picture.brand
      .col-lg-9  
        .brand_name
          = brand.name
        .brand_description
          = brand.description
        = brand.country
        = link_to 'Show', brand
        = link_to 'Edit', edit_brand_path(brand)
        = link_to 'Destroy', brand, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Brand', new_brand_path
