%p#notice= notice

%p
  %b Lead:
  = @line_item.lead_id
%p
  %b Toy:
  = @line_item.toy_id
%p
  %b Food:
  = @line_item.food_id
%p
  %b Cart:
  = @line_item.cart_id
%p
  %b Quantity:
  = @line_item.quantity

= link_to 'Edit', edit_line_item_path(@line_item)
\|
= link_to 'Back', line_items_path
