!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Petshop"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag :cocoon
    <link href='https://fonts.googleapis.com/css?family=Forum|Neucha|Rubik&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  %body
    .container
      .row
        .col-lg-12
          .header_0
            - if @cart.present? && @cart.line_items.present?
              .cart_field
                = image_tag 'cart.png', size: '40x40'
                .item_count
                  = link_to @cart.line_items.count, cart_path(@cart)
            -else
              .cart_field
                = image_tag 'cart.png', height: '40', width: '40'
                ='0 товаров'
          .header_1
            .company_name
              .row
                Главное - хвост !
                .phone
                  = image_tag 'phone.png', height: '30', width: '45'

                  (890) 789-654-312


            .logo_icon
              .row
                .col-lg-2
                  = link_to (image_tag 'Home.png', size: '50x50'), pets_path
                  .logo_title
                    = link_to 'главная', pets_path
                .col-lg-2
                  = image_tag 'email6.png', height: '50', width: '50'
                  .logo_title
                    напишите нам письмо
                .col-lg-2
                  = image_tag 'deliv3.png', height: '55', width: '55'
                  .logo_title
                    оплата и доставка
                .col-lg-2
                  = link_to (image_tag 'case.png', size: '50x50'), brands_path
                  .logo_title
                    = link_to 'бренды', brands_path
                .col-lg-2
                  = link_to (image_tag 'work.png',  size: '50x50'), vacancies_path
                  .logo_title
                    =link_to 'вакансии', vacancies_path
                .col-lg-2
                  = link_to (image_tag 'sale.png', size: '50x50'), discounts_path
                  .logo_title
                    = link_to 'акции', discounts_path





          = bootstrap_flash
          = yield

      %footer
        .logo_icon_footer
          .row
            .col-lg-2
              = link_to (image_tag 'Home.png', size: '50x50'), pets_path
              .logo_title
                = link_to 'главная', pets_path
            .col-lg-2
              = image_tag 'email6.png', height: '50', width: '50'
              .logo_title
                напишите нам письмо
            .col-lg-2
              = image_tag 'deliv3.png', height: '55', width: '55'
              .logo_title
                оплата и доставка
            .col-lg-2
              = image_tag 'case.png', height: '50', width: '50'
              .logo_title
                вакансии
            .col-lg-2
              = image_tag 'work.png', height: '50', width: '50'
              .logo_title
                вакансии
            .col-lg-2
              = image_tag 'sale.png', height: '50', width: '50'
              .logo_title
                акции
      %p &copy; Company 2015
